# Map all historical author identities to a single contributor
Manaiakalani <1502119+Manaiakalani@users.noreply.github.com> Maximilian Stein <1502119+Manaiakalani@users.noreply.github.com>
Manaiakalani <1502119+Manaiakalani@users.noreply.github.com> Maximilian Stein <manaiakalani@rocketmail.com>
Manaiakalani <1502119+Manaiakalani@users.noreply.github.com> Manaiakalani <manaiakalani808@gmail.com>
Manaiakalani <1502119+Manaiakalani@users.noreply.github.com> Manaiakalani <manaiakalani@users.noreply.github.com>
Manaiakalani <1502119+Manaiakalani@users.noreply.github.com> Manaiakalani <manai@users.noreply.github.com>
